@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
  height: 100%;
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
  outline: 1px solid rgb(33, 34, 34);
}

::selection {
  background-color: #f81ce5;
  color: #fefefe;
}

